@import 'includes/**'
@import 'components/**'

html
  height 100%

  body
    height 100%
    margin 0

    #reactAppContainer
      height 100%

      #main-app
        height 100%

        svg#plaza
          height 100%
          width 100%
