@import 'includes/**'
@import 'portal/**'

html
  font-family Roboto, sans-serif
  height 100%
  overflow hidden
  {base}
  user-select none
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none

  body
    height 100%
    margin 0

    #reactAppContainer
      height 100%
