@import 'includes/**'
@import 'room/**'
@import '../node_modules/dragula/dragula'

html
  font-family Roboto, sans-serif
  height 100%
  overflow hidden
  user-select none
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none

  body
    height 100%
    margin 0

    #reactAppContainer
      height 100%

      #main-app
        height 100%

        svg#plaza
          height 100%
          width 100%
