.connection-status
  flexbox(flex)
  align-items(center)
  transition opacity .25s ease-in-out
  background transparent
  position fixed
  bottom 80px

  &.shown
    opacity 1

  &.hidden
    opacity 0

  .connection-msg-container
    text-align left
