.connection-status
  flexbox(flex)
  align-items(center)
  background-color rgba(white, .5)
  position fixed
  bottom 80px
  height 50px
  margin-left 20px
  padding-left 10px
  padding-right 10px
  transition opacity 1s ease-in-out

  &.shown
    opacity 1

  &.hidden
    opacity 0

  .connection-msg-container
    padding-left 20px
    text-shadow .5px .5px #444
