.color-picker-container
  position absolute

.color-list
  flexbox(flex)
  flex-direction(column)

  .color-item
    flexbox(flex)
    align-items(center)
    width 100%
    height 35px
    cursor pointer

    .color-text
      flex(0.6)
      width 60%

    .color-visual-container
      flex(0.4)
      width 40%
      flexbox(flex)
      justify-content(center)

      .color-visual
        width 20px
        height 20px

