.user-item
  height 60px
  width 150px
  cursor pointer
  margin-top 5px

  .ant-card-body
    display flex
    align-items center
    padding 5px

    .user-avatar
      height 50px
      width 50px
      margin-right 10px
      border-radius 3px
      background-position center
      background-size cover
