.checkpoint-item
  height 30px
  cursor pointer
  margin-top 5px
  width 150px

  .ant-card-body
    display flex
    align-items center
    padding 5px

  .checkpoint-color
    width 18px
    height 18px
    border-radius 5px

  .checkpoint-label
    margin-left 10px
