.page-container
  height 100%
  background-image url('/img/screenshot-faded.jpg')
  background-repeat no-repeat
  background-size cover
  overflow hidden

  .blog-post-containers
    max-height 100%
    overflow-y scroll
    padding 30px

    .blog-post
      max-width 800px
      margin-left auto
      margin-right auto
      box-shadow grey 6px 6px 4px !important
      margin-top 50px
      margin-bottom 50px

      a
        color grey

      p
        font-size larger
        line-height 22px
        text-align justify
        margin-left 15px
        margin-right 15px
