.big-header
  font-size bigger

.center-with-padding
  flexbox(flex)
  justify-content(center)
  align-items(center)
  width 100%
  height 100%
  background-image url('/img/screenshot-faded.jpg')
  background-repeat no-repeat
  background-size cover
  opacity 1

  .room-status-container
    max-height 650px
    padding 20px
    width 650px
    border-radius 5px

    .simple-text
      color #E0E0E0

    .room-list-container
      max-height 200px
      overflow-y scroll
      &::-webkit-scrollbar
        display none

      .text-container
        .room-name
          color #E0E0E0

        .room-users
          font-size smaller
          color #BDBDBD

    .room-list-item
      flexbox(flex)
      align-items(center)
      border-bottom 1px solid grey
      min-height 80px

      .enter-icon-container
        width 30px
        height 30px
        padding 5px
        background-color white !important
        flexbox(flex)
        align-items(center)
        justify-content(center)
        margin-left 10px
        margin-right 15px
        box-shadow 1px 1px 1px 1px grey
        cursor pointer

        .enter-icon
          color black !important
          fill black !important
