.big-header
  font-size bigger

.center-with-padding
  flexbox(flex)
  justify-content(center)
  width 100%
  height 100%
  background-image url('/img/screenshot.jpg')
  background-repeat none
  background-size cover
  opacity 1

  .overlay
    background-color black
    position absolute
    height 100%
    width 100%
    opacity 0.7

  .room-status-container
    position fixed
    top auto
    bottom 50px
    max-height 500px
    padding 20px
    width 650px
    border-radius 5px

    .room-list-container
      max-height 200px
      overflow-y scroll
      &::-webkit-scrollbar
        display none

    .room-list-item
      flexbox(flex)
      align-items(center)
      border-bottom 1px solid grey
      min-height 80px

      .enter-icon-container
        width 30px
        height 30px
        padding 5px
        background-color white !important
        flexbox(flex)
        align-items(center)
        justify-content(center)
        margin-left 10px
        margin-right 15px
        box-shadow 1px 1px 1px 1px grey
        cursor pointer

        .enter-icon
          color black !important
          fill black !important
