.center-with-padding
  flexbox(flex)
  align-items(center)
  justify-content(center)
  width 100%
  height 100%

  .room-status-container
    padding 20px
    min-width 600px
    border-radius 5px

    .button-right
      float right
