.queue
  color rgba(0,0,0,.85)

  .emoji-row
    img
      height 150%

  .speaking-box
    height 100%
    width 100%
    display flex
    justify-content space-around
    align-items stretch

    .name-volume-container
      width 70%
      height 100%
      padding-top 10px

  .avatar-container
    min-height 150px
    height 100%
    display flex
    flex-direction column
    justify-content space-between
    padding-top 5px
    padding-bottom 5px

    .buttons-layer
      display flex
      justify-content center
      flex-direction row-reverse

      .queue-button
        width 80px

      .done-speaking
        background-color rgb(4, 184, 34)

  .queue-container
    margin-top 10px
    display flex
    flex-wrap wrap
    justify-content space-around
    max-height 120px
    overflow-y scroll

    .queue-item
      width 100%
