green600 = #43A047
yellow600 = #FDD835
red600 = E53935
deepOrange900 = #BF360C

.support-icon
  color green600 !important
  fill green600 !important

.reservations-icon
  color yellow600 !important
  fill yellow600 !important

.block-icon
  color deepOrange900 !important
  fill deepOrange900 !important
