.cp-drawer
  .widget-border
    margin-top 5px

    .ant-card-body
      padding 5px

    .icon-core
      fill rgba(0, 0, 0, 0.85098)

    .widget-header
      border-bottom 1px solid grey
      display flex
      justify-content space-between
      align-items center
