.agenda
  .buttons
    margin-bottom 5px
    float right

    .ant-btn
      margin-left 10px

  .ant-input
    margin-bottom 5px

  .panel-header
    display flex
    justify-content space-between
    align-items center


    .item-options
      display flex
      .opt
        margin-left 3px
        margin-right 3px

    a
      height 24px
      margin-right 5px

      .icon-core
        fill rgba(0,0,0,0.851)

    .done-btn
      margin-right 10px

      .icon-core
        fill #f7f7f7
        stroke #04b822

        path:nth-child(1)
          stroke none

      &.done
        .icon-core
          fill #04b822
          stroke none
