.window
  position fixed
  top 0px
  left 0px
  box-shadow 1px 1px 5px black
  padding 10px
  overflow-y scroll
  line-height 24px
  {layer1}
  transition transform 2s ease-in-out

  &.dragging
    box-shadow 2px 2px 5px black
    transition none

  .window-header
    border-bottom 1px solid #eeeeee
    height 20px

    .close-window
      float right

    .window-title
      float left
      cursor move

.window-docked
  position fixed
  border-radius 50%
  bottom 5px
  padding 10px
  width 50px
  height 50px
  text-align center
  box-shadow 1px 1px 5px black
  line-height 50px
  cursor pointer
  {layer1}
