.list-browser
  top 20px
  left 20px
  width 300px
  height 400px
  position fixed
  {layer1}
  padding 10px
  box-shadow 3px 3px 3px grey
  overflow-y scroll

  .title
    border-bottom 1px solid white
    display flex
    align-items center
    justify-content space-between
