.agenda-container
  position fixed
  width 100%
  height 70px
  top 0px
  flexbox(flex)
  justify-content(center)
  margin-top 5px
  transition margin-top .25s ease-out
  -moz-transition margin-top .25s ease-out
  -o-transition margin-top .25s ease-out
  -webkit-transition margin-top .25s ease-out

  &.hidden
    margin-top -80px

  .agenda
    width 98%
    height 100%
    margin-top 2%
    flexbox(flex)
    justify-content(center)
    align-items(center)
    position relative
    padding-left 20px
    padding-right 20px

    .agenda-items-container
      flexbox(flex)
      flex-direction(column)
      padding-left 10px
      padding-right 10px

    .agenda-items
      flexbox(flex)
      flex-direction(column)
      overflow-y scroll

    .drawer-header
      width 100%
      height 60px
      flexbox(flex)
      align-items(center)
      justify-content(center)
      font-size larger
      font-weight bold

    .drawer-footer
      width 100%
      height 60px
      bottom 0
      position absolute
      flexbox(flex)
      align-items(center)
      justify-content(center)
      font-size larger
      font-weight bold

    .create-icon-container
      width 10%
      flexbox(flex)
      justify-content(center)
      align-items(center)

    .agenda-text
      flexbox(flex)
      justify-content(center)
      flex-direction(column)
      height 50px
      width 90%
      margin-top 20px
      margin-bottom 20px

      .agenda-title
        font-size larger
        font-weight bold

      .agenda-description
        font-size smaller
