.agenda-container
  position fixed
  display flex
  justify-content center
  flex-direction column
  {layer1}

  .agenda
    width 90%
    position relative
    display flex
    justify-content center
    align-items center
    padding 20px

    .agenda-items-container
      display flex
      flex-direction column
      padding-left 10px
      padding-right 10px

    .agenda-items
      display flex
      flex-direction column
      overflow-y scroll

    .drawer-header
      width 100%
      height 60px
      flexbox flex
      align-items center
      justify-content center
      font-size larger
      font-weight bold

    .drawer-footer
      width 100%
      height 60px
      bottom 0
      position absolute
      flexbox flex
      align-items center
      justify-content center
      font-size larger
      font-weight bold

    .create-icon-container
      width 10%
      display flex
      justify-content center
      align-items center

    .agenda-text
      display flex
      justify-content center
      flex-direction column
      height 50px
      width 90%
      margin-top 20px
      margin-bottom 20px

      .agenda-title
        font-size larger
        font-weight bold

      .agenda-description
        font-size smaller
