.agenda-container
  position fixed
  display flex
  justify-content center
  flex-direction column
  {layer1}

  .agenda
    width 90%
    position relative
    display flex
    justify-content center
    align-items center
    padding 20px
