.volume-circle
  .pie
    width 50%
    height 100%
    position absolute
    background none

  .base
    z-index 50
    position absolute

  .circle
    position absolute
    transition opacity 500ms linear

  .spinner
    transition transform 500ms linear

  .filler
    z-index 200
    position absolute
    left 50%

  .mask
    z-index 300
    position absolute

  .status-badge
    .ant-badge-status-dot
      transform scale(2)

    position fixed
    top 0px
    left 0px
    z-index 1000
    transform translate(80px, 75px)
