.volume-circle
  .pie
    width 50%
    height 100%
    position absolute
    background none

  .base
    z-index 50
    position absolute

  .circle
    position absolute
    transition opacity 300ms linear

  .spinner
    transition transform 300ms linear

  .filler
    z-index 200
    position absolute
    left 50%

  .mask
    z-index 300
    position absolute
