base03Solar =  #002b36
base02Solar =  #073642
base01Solar =  #586e75
base00Solar =  #657b83
base0Solar =  #839496
base1Solar =  #93a1a1
base2Solar =  #eee8d5
base3Solar =  #fdf6e3
yellowSolar =  #b58900
orangeSolar =  #cb4b16
redSolar =  #dc322f
magentaSolar =  #d33682
violetSolar =  #6c71c4
blueSolar =  #268bd2
cyanSolar =  #2aa198
greenSolar =  #859900
