ariakeLayer1 = {
  background-color: black,
  color: hsl(228, 25%, 78%)
}

ariakeLayer2 = {
  background-color: black,
  color: hsl(228, 15%, 55%)
}

base = {
  background-color: #EFEFEF,
  color: #757575,
}

layer1 = ariakeLayer1

layer2 = {
  background-color: #5572FA,
  color: #FFFFFF
}
