rock = {
  dark: #493829,
  medium: #816c5b,
  light: #a9a18c
}

soil = {
  dark: #613318,
  medium: #855723,
  light: #b99c6b
}

sand = {
  dark: #8f3b1b,
  medium: #d57500,
  light: #dbca69
}

greens = {
  dark: #404f24,
  medium: #668d3c,
  light: #bdd09f
}

blues = {
  dark: #4e6172,
  medium: #83929f,
  light: #a3adb8
}

letters = {
  a: rock.dark,
  b: rock.medium,
  c: rock.light,
  d: soil.dark,
  e: soil.medium,
  f: soil.light,
  g: sand.dark,
  h: sand.medium,
  i: sand.light,
  j: greens.dark,
  k: greens.medium,
  l: greens.light,
  m: blues.dark,
  n: blues.medium,
  o: blues.light
}

ia = {
  background-color: letters.a,
  color: letters.i
}

fd = {
  background-color: letters.d,
  color: letters.f
}

fg = {
  background-color: letters.g,
  color: letters.f
}

lj = {
  background-color: letters.j,
  color: letters.l
}

ak = {
  background-color: letters.k,
  color: letters.a
}

jl = {
  background-color: letters.l,
  color: letters.j
}

mo = {
  background-color: letters.o,
  color: letters.m
}

om = {
  background-color: letters.m,
  color: letters.o,
}

dn = {
  background-color: letters.n,
  color: letters.d
}

jl = {
  background-color: letters.l,
  color: letters.j
}


bonw = {
  background-color: #ecf0f1,
  color: #2c3e50
}

wonb = {
  background-color: #2c3e50
  color: #ecf0f1,
}

layer1 = bonw
layer2 = wonb
