.controls
  background none

  .audio
    position fixed
    top 0
    left 0
    transform translate(-10px, 100px)

  .video
    position fixed
    top 0
    left 0
    transform translate(45px, 115px)

  .away
    position fixed
    top 0
    left 0
    transform translate(100px, 100px)
