.controls
  background none

  .audio
    position fixed
    top 0
    left 0
    transform translate(-10px, 95px)

  .video
    position fixed
    top 0
    left 0
    transform translate(42px, 115px)

  .away
    position fixed
    top 0
    left 0
    transform translate(95px, 95px)
