.user-blob
  position fixed
  top 0
  left 0
  border-radius 50%
  transition transform .25s linear
  z-index 100

  &.me
    z-index 1000

  .user-blob-away-overlay
    position fixed
    top 0
    left 0
    border-radius 50%
    background rgba(0, 0, 0, .5)
    border 5px solid black
    z-index 100
    display flex
    align-items center
    justify-content center

    svg.icon-core
      transform scale(2)

  .video-clip
    width 100px
    height 100px
    border-radius 50%
    overflow hidden
    transform rotate(0.0000001deg)
