.name-text
  text-transform uppercase
  font-family Roboto, sans-serif
  font-weight bold
  font-size 12px

.badge-container
  flexbox(flex)
  align-items(center)
  justify-content(center)
  height 100%
  width 100%
