.menu
  position fixed
  height 20px
  bottom 40px
  width 150px
  left 20px
  top auto
  right auto
  border-radius 5px

  .menu-bar
    position fixed
    top auto
    right auto
    width 150px
    box-shadow 3px 3px 5px black
    height 20px
    {layer2}
    padding 10px
    &:hover
      {layer1}
