.menu
  position fixed
  height 20px
  bottom 40px
  width 150px
  left 20px
  top auto
  right auto
  z-index 50
  border-radius 5px

  .menu-bar
    position fixed
    top auto
    right auto
    width 150px
    box-shadow 2px 0px 5px black
    height 20px
    cursor pointer
    {layer1}
    padding 10px

    &:hover
      {layer2}

    &.bottom
      box-shadow 2px 2px 5px black
