.window
  position fixed
  top 0
  left 0
  box-shadow 1px 1px 5px black
  max-width 90%
  max-height 90%
  padding 10px
  height 400px
  width 200px
  overflow-y scroll
  resize both
  line-height 24px
  {layer1}

  .window-header
    border-bottom 1px solid #eeeeee
    height 20px

    .close-window
      float right

    .window-title
      float left
      cursor move
