.window
  position fixed
  top 0px
  left 0px
  box-shadow 1px 1px 5px black
  max-width 90%
  max-height 90%
  padding 10px
  height 400px
  width 200px
  overflow-y scroll
  resize both
  line-height 24px
  {layer1}

  .window-header
    border-bottom 1px solid #eeeeee
    height 20px

    .close-window
      float right

    .window-title
      float left
      cursor move

.window-docked
  position fixed
  border-radius 50%
  bottom 50px
  left 50px
  padding 10px
  width 50px
  height 50px
  text-align center
  line-height 50px
  cursor pointer
  {layer1}
