.dialog-bridge
  display none

.whole-screen
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  display flex
  align-content center
  justify-content center

  .dialog
    margin-top auto
    margin-bottom auto
    padding 10px
    max-height 50%
    max-width 50%
