.dialog-bridge
  display none

.whole-screen
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  display flex
  background-color transparent
  align-content center
  justify-content center

  .dialog
    z-index 100
    margin-top auto
    margin-bottom auto
    padding 10px
    max-height 75%
    max-width 75%
    {layer1}
    box-shadow 2px 2px 5px black
    display flex
    flex-direction column

    h1
      border-bottom 1px solid white

    .actions-container
      margin-top 15px
      display flex
      justify-content flex-end
