.fields-container
  flexbox(flex)
  flex-direction(column)

  .full-width-text-field
    width 100% !important

  .avatar-field-container
    flexbox(flex)
    flex-direction(row)

    .full-width-text-field
      margin-left 30px
