.fields-container
  display flex
  flex-direction column

  .full-width-text-field
    width 100%

  .avatar-field-container
    display flex
    flex-direction row

    .avatar-clicker
      cursor pointer
      display flex
      flex-direction column
      justify-content center
      align-items center
      text-align center

      .button
        margin-top 5px

    .full-width-text-field
      margin-left 30px
