.fields-container
  display flex
  flex-direction column

  .full-width-text-field
    width 100%

  .avatar-field-container
    display flex
    flex-direction row

    .full-width-text-field
      margin-left 30px
