
.support-icon
  color greenSolar !important
  fill greenSolar !important

.reservations-icon
  color yellowSolar !important
  fill yellowSolar !important

.block-icon
  color redSolar !important
  fill redSolar !important
