.announcement-container
  position fixed
  width 100%
  height 50px
  flexbox(flex)
  justify-content(center)
  align-items(center)
  margin-top 0px
  transition margin-top .25s ease-out
  -moz-transition margin-top .25s ease-out
  -o-transition margin-top .25s ease-out
  -webkit-transition margin-top .25s ease-out

  &.hidden
    margin-top -80px

  .announcement
    color white
    background-color rgba(black, .9)
    border-radius 5px
    width 98%
    height 100%
    margin-top 2%
    flexbox(flex)
    justify-content(center)
    align-items(center)
