.announcement-container
  position fixed
  width 100%
  height 50px
  top 0px
  flexbox(flex)
  justify-content(center)
  align-items(center)
  margin-top 20px
  transition margin-top .25s ease-out
  -moz-transition margin-top .25s ease-out
  -o-transition margin-top .25s ease-out
  -webkit-transition margin-top .25s ease-out

  &.hidden
    margin-top -80px

  .announcement
    width 98%
    height 100%
    margin-top 2%
    flexbox(flex)
    justify-content(center)
    align-items(center)
    position relative

    .edit-icon
      float left

.response-option-checkbox, .feedback-checkbox
  flexbox(flex)
  align-items(center)
  width 100%
  padding-top 10px
  padding-bottom 10px

  .label-container
    margin-left 10px
    width 72%

.feedback-checkbox
  .label-container
    width 78%

.response-option-checkbox
  margin-left 20px

.drop-down
  width 400px !important
  padding-left 20px !important
  padding-right 20px !important
  padding-top 10px
  padding-bottom 10px
  position absolute
  left 0
  top 60px

.response-option
  padding-top 10px
  padding-bottom 10px
  padding-left 15px
  padding-right 5px
  flexbox(flex)
  align-items(center)
