.cp-drawer
  position fixed
  right 0
  left auto
  top 0
  height 100%
  width 40%
  background-color rgba(0, 0, 0, .8)
  animation slide-from-right 300ms ease-out
  padding 40px

  a
    .icon-core
      fill white

  .cp-title
    a
      margin-right 20px

    font-size larger
    cursor crosshair
    border-bottom 1px solid white
    display flex
    align-items center

  .cp-body
    overflow-y scroll

  .cp-widget-drawer
    position fixed
    left auto
    top 0
    right 0
    height 100%
    width 100px
    background-color black
    box-shadow -5px 0px 3px 3px black
    padding 20px
    overflow-y scroll

    .widget-preview
      cursor pointer
      margin-bottom 10px

      .widget-square
        width 100%
        height 85px
        border 1px solid #ddd
        display flex
        justify-content center
        align-items center

        .icon-core
          fill white

      .widget-label
        margin-top 10px
        text-align center

@keyframes slide-from-right
  0%
    transform translateX(100%)
  100%
    transform translateX(0x)
