.cp-drawer
  background-color rgb(236, 236, 236)
  position fixed
  right 0
  left auto
  top 0
  height 100%
  width 40%
  box-shadow -2px -2px 3px #888
  animation slide-from-right 300ms ease-out
  color hsla(0,0%,100%,.67)

  .ant-layout-content
    overflow-y scroll
    height calc(100% - 64px)

  &.small
    width 100px
    cursor pointer

    h3
      text-align center

  a
    .icon-core
      fill hsla(0,0%,100%,.67)

  .cp-header
    display flex
    align-items center
    padding 5px

    .cp-header-icon
      height 24px

    a
      cursor pointer
      line-height 24px
      margin-left 3px
      margin-right 3px

    h3
      margin-left 6px
      margin-right 3px
      width 100%

  .cp-title
    a
      margin-right 20px
      float right

    font-size larger
    cursor crosshair
    border-bottom 1px solid white
    display flex
    align-items center

  .cp-widget-drawer
    position fixed
    left auto
    top 0
    right 0
    height 100%
    width 140px
    background-color black
    box-shadow -5px 0px 3px 3px black
    padding 20px
    overflow-y scroll

.widget-preview
  cursor pointer
  margin-top 5px
  margin-bottom 5px

  .widget-square
    width 100%
    height 85px
    border 1px solid #ddd
    display flex
    justify-content center
    align-items center

    .icon-core
      fill hsla(0,0%,100%,.67)

  .widget-label
    margin-top 10px
    text-align center

@keyframes slide-from-right
  0%
    transform translateX(100%)
  100%
    transform translateX(0x)
