.agenda-order
  cursor move

.agenda-item
  height 100px
  width 100%
  flexbox(flex)
  justify-content(center)
  align-items(center)

  .number
    height 100%
    width 15%
    flexbox(flex)
    justify-content(center)
    align-items(center)

  .options
    height 100%
    width 15%
    flexbox(flex)
    justify-content(center)
    flex-direction(column)

  .text
    padding-left 10px
    padding-right 10px
    height 100%
    width 70%
    flexbox(flex)
    justify-content(center)
    flex-direction(column)

    .title
      font-size larger
      font-weight bold

    .description
      font-size smaller


